name: Weekly releases

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * */7"

jobs:
  publish-docker-image-latest:
    runs-on: ubuntu-latest
    name: Publish Docker image from master branch

    steps:
      - name: Check out repo
        uses: actions/checkout@v6.0.1
        with:
          ref: master
      - name: Log in to the Container registry
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v6.18.0
        with:
          push: true
          tags: dangmai/archlinux-devel:latest
